<app-default-login-layout
    title="Registre-se para acessar"
    primaryBtnText="Registre-se"
    secondaryBtnText="Entre"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
>
    <form [formGroup]="signupForm">
        <app-primary-input
            formControlName="name"
            inputName="name"
            type="text"
            label="Nome"
            placeholder="Seu nome"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="seuemail@chui.com"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Senha"
        >
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
    <app-primary-input
        formControlName="passwordConfirm"
        inputName="passwordConfirm"
        type="password"
        label="Confirme sua senha"
    >
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
    </form>
</app-default-login-layout>
